
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* @font-face {
  font-family: Nunito;
  src: url('/Fonts/static/Nunito-Regular.ttf')format('truetype');
}


@font-face {
  font-family: Nunito-Medium;
  src: url('/Fonts/static/Nunito-Medium.ttf')format('truetype');
}


@font-face {
  font-family: Nunito-Bold;
  src: url('/Fonts/static/Nunito-Bold.ttf')format('truetype');
}


@font-face {
  font-family: Nunito-ExtraBold;
  src: url('/Fonts/static/Nunito-ExtraBold.ttf')format('truetype');
} */


@font-face {
  font-family: anton;
  src: url('/Fonts/Anton/Anton-Regular.ttf')format('truetype');
}

@font-face {
  font-family: titilium;
  src: url('/Fonts/Titilium_Web/TitiliumWeb-Regular.ttf')format('truetype');
}

@font-face {
  font-family: oswald-bold;
  src: url('/Fonts/Oswald/static/Oswald-Bold.ttf')format('truetype');
}


@font-face {
  font-family: oswald;
  src: url('/Fonts/Oswald/static/Oswald-Regular.ttf')format('truetype');
}


body{
  /* font-family: 'anton'; */
  background-color: #F5F0E6;
}

p, a{
  font-family: oswald;
}

h1,h2, h3, h4, h5, h6{
  font-family: oswald-bold;
}

.stroke-text {
  color: #F5F0E6;
  -webkit-text-stroke: 0.2px #2A3B4D;
  text-shadow: 0 1.5px 1.5px #2A3B4D;
}